#super-div{
  position: relative; 
  width: 400px;
  height: 700px;
  text-align: center;
  color: black;
  background-color: #FFFFFF;
  border:1px solid black;
  border-radius: 20px 20px / 20px 20px
}


#top-div{
  position:absolute;
  left:3px;
  padding-top: 13px;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  display:flex;
}

#middle-div{
  padding-top:110px;
  font-size : 25px;
}

#bottom-div{
  font-weight: 900;
  font-size: 30px;
}

.circle{
  font-size:20px;
  width:180px;
  height:33px;
  border-radius:20px 20px/ 20px 20px;
  border:1px solid black;
  background:#A9F09D;
  position: fixed;
  top:125px;
  left:117px;
}
#middle-div{
  font-weight: bold;
}

#bottom-div{
  text-align: center;
}

.buttons{
  width: 220px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  background-color: #A9F09D;
  border: black 1px solid;
  border-radius: 20px;
}

.button-flex{
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
}