#super-div{
    width: 400px;
    height: 700px;
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    border:1px solid black;
    border-radius: 20px 20px / 20px 20px
  }

  
#top-div{
    padding-top: 5px;
    padding-right: 250px;
    padding-left: 180px;
    padding-bottom:80px;
    font-size: 15px;
    color: #A9F09D;
    font-size: 50px;
    font-weight: bold;
    display:flex;
    justify-content: space-evenly;
    gap:80px;
  }

  .imges{
    display: flex;
    justify-content: end;
  }


  
#bottom-div{
    font-weight: 900;
    font-size: 30px;

}

.circle{
    width:200px;
    height:50;
    border-radius:20px 20px/ 20px 20px;
    border:1px solid black;
    background:#A9F09D;
    position: absolute;
    top:15%;
    left:12%

}
#middle-div{
    font-weight: bold;
}

#bottom-div{
    text-align: center;
}

.buttons{
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: #A9F09D;
    border: black 1px solid;
    border-radius: 20px;
}
  
.button-flex{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}