#nav-bar{
    width: 400px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #B8EEA5;
    border-radius: 20px 20px / 20px 20px
}

#nav-bar > img {
    margin-top: 10px;
    margin-bottom: 13px;
}