#super-div{
    position: relative; 
    width: 400px;
    height: 700px;
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    border:1px solid black;
    border-radius: 20px 20px / 20px 20px
  }

@font-face{
    font-family:'Jua';
    src: url("../fonts/BMJUA_ttf.ttf");
  }
  
#top-div{
    font-family:'Jua';
    padding-top: 13px;
    padding-left: 20px;
    font-size: 25px;
    color: black;
    font-weight: bold;
    display:flex;
    justify-content: flex-start; 

  }

#middle-div{
    font-family:'Jua';
    position: relative;
    width: 400px;
    padding-top:80px;
    padding-bottom:20px;
    font-size : 25px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    border-bottom:1px solid black;
}


.font-size15{
    margin-top: 5px;
    font-size: 15px;
    color: lightgray;
    margin-bottom: 5px;
}

.font-green{
    color: #13B65E;
}
  
#bottom-div{
    font-family:'Jua';
    position: relative;
    width: 400px;
    padding-top:80px;
    padding-bottom:20px;
    font-size : 25px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

#repo{
    position: absolute;
    left:0px;
    top: 10px;
    margin: 20px;
    font-size: 20px;
}

#gun{
    position: absolute;
    left:0px;
    top: 20px;
    margin: 30px;
    font-size: 20px;
}

.font-size1{
    font-size:15px;
}

.font-size2{
    font-size:15px;
}