#super-div{
    width: 400px;
    height: 700px;
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    border:1px solid black;
    border-radius: 20px 20px / 20px 20px
  }

  
#top-div{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 5px;
    color: #A9F09D;
    font-size: 50px;
    font-weight: bold;
    display:flex;
    justify-content: space-between; 
  }

#middle-div{
    display
}
  
#bottom-div{
    font-weight: 900;
    font-size: 30px;

}

